<form [formGroup]="formGroup" (submit)="sendForm()">
	<h1>New log</h1>

	<div class="formControl">
		<input type="number" class="formControl" placeholder="Valid values [0-6]" formControlName="logLevel" maxlength="1" min="0" max="6" required />
	</div>

	<!-- <select class="form-control" id="logLevelId" formControlName="logLevelId">
		<option *ngFor="let logLevel of getLogLevelEnumValues() | keyvalue" value="{{logLevel.key}}">{{logLevel.value}}</option>
	</select> -->

	<!-- <select class="form-control" id="logLevel" formControlName="logLevel">
		<option *ngFor="let logLevel of getLogLevelEnumValues()" [value]="logLevel">{{ logLevel | titlecase}}</option>
	</select> -->


	<div class="formControl">
		<input type="text" class="formControl" placeholder="Message" formControlName="message" maxlength="255" />
	</div>

	<div class="formControl">
		<input type="textarea" cols="30" rows="3" class="formControl" placeholder="StackTrace" formControlName="stackTrace" />
	</div>

	<button type="submit" class="btn btn-default">Submit</button>
</form>
